<div class="container" style="margin-bottom: 66px">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="payment">
        <div class="payment_header">
          <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
        </div>
        <div class="content">
          <h1>Thanh toán thành công !</h1>
          <h5>Cảm ơn quý khách đã mua hàng tại cửa hàng chúng tôi.</h5>
          <br>
          <a routerLink="/home" style="text-decoration: none" class="mt-3">Về trang chủ</a>
        </div>

      </div>
    </div>
  </div>
</div>
