<div class="container" style="min-height: 80vh">
  <div class="row">
    <div class="col-lg-7">
      <h2 class="fw-bold">Thông tin thanh toán</h2>
      <form [formGroup]="formPay">
        <div class="mb-3 mt-3">
          <label for="name" class="form-label">Họ và tên: </label>
          <input type="text" class="form-control" id="name" placeholder="Nhập họ và tên" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại:</label>
          <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại"
                 formControlName="phoneNumber">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="text" class="form-control" id="email" placeholder="Nhập email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ giao hàng:</label>
          <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ" formControlName="address">
        </div>
        <div class="mb-3">
          <label for="note" class="form-label">Ghi chú:</label>
          <textarea type="text" class="form-control" id="note" placeholder="Nhập ghi chú" formControlName="note"></textarea>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <button type="button" class="btn btn-lg" routerLink="/cart" style="background-color: #8F8248">Giỏ hàng</button>
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4 d-flex justify-content-end" *ngIf="cartList.length != 0">
            <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#paymentModal" style="background-color: teal">Thanh toán</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-5">
      <div>
        <table>
          <tbody>
          <tr *ngFor="let item of cartList">
            <td style="width: 10%"><img src="{{item.url}}"
                                        style="height: 80px; width: 80px"
                                        alt="No Image"/></td>
            <td style="word-wrap: break-word; width: 40%">{{item.nameProduct}}</td>
            <td class="text-center" style="width: 20%">{{item.quantity}}</td>
            <td class="text-end" style="width: 20%">{{item.price | number}} VND</td>
          </tr>
          </tbody>
        </table>

        <div style="background-color: gainsboro; min-height: 17vh; margin-top: 10px">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 mt-2">
              <div class="row">
                <div class="col-lg-4">Tạm tính:</div>
                <div class="col-lg-8 text-end">{{sumMoneyAll | number}} VND</div>
              </div>
              <div class="row">
                <div class="col-lg-4">Giảm giá:</div>
                <div class="col-lg-8 text-end">0 VND</div>
              </div>
              <div class="row">
                <div class="col-lg-4">Phí vận chuyển:</div>
                <div class="col-lg-8 text-end">0 VND</div>
              </div>
              <hr>
              <div class="row mb-2">
                <div class="col-lg-4">Tổng tiền:</div>
                <div class="col-lg-8 text-end" style="font-weight: bold; font-size: 30px">{{sumMoneyAll | number}} VND</div>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="paymentModalLabel">Thanh toán.</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="myPaypalButton"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #8F8248">Đóng</button>
      </div>
    </div>
  </div>
</div>
