<div class="row" style="min-height: 25vh">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto justify-content-center">
          <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="col-md-3">
                  `       <div class="card">
                  <div class="card-img">
                    <img src="img/router-chuan-wifi-6-bang-tan-kep-asus-ax55-den-100822-014341-600x600.jpg"
                         style="height: 150px; width: 420px" class="img-fluid" alt="Router">
                  </div>
                  <div class="card-img-bottom">Asus AX55</div>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="img/router-wifi-ac1300uhp-bang-tan-kep-asus-ac1300-den-040822-022623-600x600.jpg"
                           style="height: 150px; width: 420px" class="img-fluid" alt="Router">
                    </div>
                    <div class="card-img-bottom">ASUS AC1300</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="img/router-wifi-ac1500uhp-bang-tan-kep-asus-ac1500-den-040822-023121-600x600.jpg"
                           style="height: 150px; width: 420px" class="img-fluid" alt="Router">
                    </div>
                    <div class="card-img-bottom">ASUS AC1500</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="img/router-wifi-ax11000-ba-bang-tan-asus-gt-ax11000-100822-081956-600x600.jpg"
                           style="height: 150px; width: 420px" class="img-fluid" alt="Router">
                    </div>
                    <div class="card-img-bottom">ASUS AX11000</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="img/router-wifi-chuan-ac1200-xiaomi-4a-trang-040822-024701-600x600.jpg"
                           style="height: 150px; width: 420px" class="img-fluid" alt="Router">
                    </div>
                    <div class="card-img-bottom">XIAOMI AC1200</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="img/bo-phat-song-wifi-router-chuan-wifi-6-asus-ax1800hp-den-thumb-600x600.jpg"
                           style="height: 150px; width: 420px" class="img-fluid" alt="Router">
                    </div>
                    <div class="card-img-bottom">ASUS AX1800HP</div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
               data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
               data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div>
  <div class="row  d-flex justify-content-center px-5">
    <div class="col-sm-6 col-lg-3" style="margin: 10px 0" *ngFor="let pro of productList?.content">
      <div class="card">
        <img src="{{pro.url}}" height="240" width="336"
             alt="No image"/>
        <a [routerLink]="['/product/detail',pro.id]" class="card-link" style="float: right; text-decoration: none; color: teal">
        <div class="card-body">
          <h5 class="card-title">{{pro.name}} </h5>
          <p class="card-text fw-bold">{{pro.price}}</p>
          <p class="card-text">{{pro.nameFrequencyBand}}</p>
          <p class="card-text">{{pro.nameSpeedWifi}}</p>
          <p class="card-text">{{pro.nameUserConnect}}</p>
          <p class="card-text">{{pro.nameCoverageDensity}}</p>
        </div>
        </a>
      </div>
    </div>

  </div>
</div>
