<div class="row" style="min-height: 25vh">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of imageList">
        <ng-template carouselSlide>
          <!--          <img [src]="slide.url" alt="NO">-->
          <div class="card">
            <a [routerLink]="['/product/detail',slide.id]" class="card-link"
               style="float: right; text-decoration: none; color: teal">
              <img src="{{slide.url}}" height="240" width="100%"
                   alt="No image"/>
              <div class="card-body">
                <h5 class="card-title" style="min-height: 72px;">{{slide.name}} </h5>
              </div>
            </a>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

  </div>
  <div class="col-md-1"></div>
</div>


<div>
  <div class="row  d-flex justify-content-center px-5">
    <div class="col-sm-6 col-lg-3" style="margin: 10px 0" *ngFor="let pro of productList?.content">
      <div class="card">
        <a [routerLink]="['/product/detail',pro.id]" class="card-link"
           style="float: right; text-decoration: none; color: teal">
          <img src="{{pro.url}}" height="240" width="100%"
               alt="No image"/>
          <div class="card-body">
            <h5 class="card-title" style="min-height: 72px">{{pro.name}} </h5>
            <p class="card-text fw-bold">Gía: {{pro.price | currency: 'VND-'}}</p>
            <p class="card-text">Băng tần: {{pro.nameFrequencyBand}}</p>
            <p class="card-text">Tốc độ: {{pro.nameSpeedWifi}}</p>
            <p class="card-text">Hỗ trợ tối đa: {{pro.nameUserConnect}}</p>
            <p class="card-text">Bán kính phủ sóng: {{pro.nameCoverageDensity}}</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="row" style="min-height: 60px">
  <div *ngIf="productList?.content?.length != 0">
    <div *ngIf="productList" class="d-flex justify-content-center" id="last-row">
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [ngClass]="productList.first ? 'disabled': ''">
              <a role="button" class="page-link" (click)="changePage(0)" style="color: teal">Trang đầu</a>
            </li>
            <li class="page-item" [ngClass]="productList.first ? 'disabled': ''">
              <a role="button" class="page-link" (click)="changePage(productList.number - 1)"><</a>
            </li>
            <li class="page-item" *ngIf="productList.number - 3 > 0">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number - 4)">{{productList.number - 3}}</a>
            </li>
            <li class="page-item" *ngIf="productList.number - 2 > 0">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number - 3)">{{productList.number - 2}}</a>
            </li>
            <li class="page-item" *ngIf="productList.number - 1 > 0">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number - 2)">{{productList.number - 1}}</a>
            </li>
            <li class="page-item" *ngIf="productList.number > 0">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number - 1)">{{productList.number}}</a>
            </li>
            <li class="page-item active"><a class="page-link">{{productList.number + 1}}</a></li>
            <li class="page-item" *ngIf="productList.number + 2 <= productList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number + 1)">{{productList.number + 2}}</a>
            </li>
            <li class="page-item" *ngIf="productList.number + 3 <= productList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number + 2)">{{productList.number + 3}}</a>
            </li>
            <li class="page-item" *ngIf="productList.number + 4 <= productList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number + 3)">{{productList.number + 4}}</a>
            </li>
            <li class="page-item" *ngIf="productList.number + 5 <= productList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number + 4)">{{productList.number + 5}}</a>
            </li>
            <li class="page-item" [ngClass]="productList.last ? 'disabled': ''">
              <a role="button" class="page-link"
                 (click)="changePage(productList.number + 1)">></a>
            </li>
            <li class="page-item" [ngClass]="productList.last ? 'disabled': ''">
              <a role="button" class="page-link"
                 (click)="changePage(productList.totalPages - 1)" style="color: teal">
                Trang cuối
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
