<footer class="container-fluid d-flex justify-content-center" style="background-color: darkgray">
  <div class="col-1"></div>
  <div class="col-10 container-fluid row my-2">
    <div class="col-3">
      <div>
        <h6>CÔNG TY CỔ PHẦN PHÂN PHỐI ROUTER WIFI UQN</h6>
      </div>
      <div>
        <h6>
          <i class="fa-solid fa-location-dot"></i>
          <span> 280, Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng</span>
        </h6>
      </div>
      <div>
        <i class="fa-solid fa-phone"></i>
        <span> (024) 3562 5939 - (024) 3562 5940</span>
      </div>
    </div>
    <div class="col-9 d-flex align-items-center">
      <div class="col-5">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chính sách bảo mật</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chính sách vận chuyển</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hình thức thanh toán</a>
          </li>
        </ul>
      </div>
      <div class="col-5">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Quy định đổi trả và hủy đơn hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hướng dẫn đặt hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Thông báo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên hệ</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col-1"></div>
</footer>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">Create by UQN.</span>
  </div>
</footer>
