
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #008080;
    color: white;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 40px;
    text-align: center;
}

